# Lab 01 - GRAD-C24

# Date: 09.09.2022

## Author: Paulina Garcia Corral

email: corral@hertie-school.org

Notes:

1. Extra cloud space for ML datasciencelab@hertie-school.org

2. You can also audit the intro to python GRAD-E1326
---

# We want to assess the coding level of the group. 

# To do this, please open this link and answer the quiz individually.





1. What is the output of the code below?

In [ ]:
str = "machine_learning"
print(str[1:3])

2. What is the output of the code below?

In [ ]:
var = "Hertie School"
print(var[::2])

3. What is the output of the code below?

In [ ]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

4. What is the output of the following code?

In [ ]:
list_1 = [20, 40, 60, 80]
list_2 = [20, 40, 60, 80]

print(list_1 == list_2)
print(list_1 is list_2)

5. Is a string inmmutable in Python?

    Every time when we modify the string, Python will always create a new string and assign a new string to that variable.

6. What is the output of the following code?

In [ ]:
name_list = ['Max', 'Sophie', 'Karl', 'Anne']
name_list.append('Moritz')
print(name_list)

7. What is the output of the code below?

In [ ]:
for i in range (1,20,2):
  print(i)

8. According to the Python Orperators Precedence, in what order will this be executed?
  
  Addition

  Parenthesis 

  Comparison

  Exponent

9. What is the output of the following code?

In [ ]:
for i in range(1, 4):
    if i == 2:
      print(i)
    else:
      print("this is else block statement")

10. What is the output of the code below?

In [ ]:
def calculate (num1, num2):
  res = num1 * num2
  print(res)

calculate(5, 6)



---

# Now let's go over the questions together!

1 & 2. Data types in python

In [ ]:
#Python data types

#Integers
a_int = 3
another_int = 27


#Floats
3.14
float_1 = 0.98

print(type(a_int))

#String
a_string = 'hello world!!'
print(a_string)
b_string = "Hertie School is the best!!"
c_string = "They call me 'the best'"
print(c_string)


#What does "strings are inmutable" mean?
#You can't change a strings calue, only the reference to the string. 
a_string = "good bye world!"
print(a_string)


##Collection data types 
#List
#Ordered and changeable, we use square brakets, exclusive to Python, items
#need to be separeted with a coma. Elements in a list can be of different types.
names = ['maria jose', 'fernanda', 'luke', 'alvaro', 'Justus', 
          'Fernando', 'Rodrigo', 'Carmen', 'Juan', 'Fabian',
          'Oskar', 'Augusto', 'Jorge', 'Fabian']

shirts = ['white', 'beige', 'green','brown', 'blue', 'white',
          'blue', 'stripes', 'blue', 'beige', 'black', 'grey',
          'purple', 'black']

print(a_list)

b_list = ['three', 3]
print(b_list)

people_shirts = [names, shirts]
print(people_shirts)


#Tuple
#Tuples are ordered, inmutable and are writen with ( ) and separeated with comas
#can have different types. 
names = ('maria jose', 'fernanda', 'luke', 'alvaro', 'Justus', 
          'Fernando', 'Rodrigo', 'Carmen', 'Juan', 'Fabian',
          'Oskar', 'Augusto', 'Jorge', 'Fabian')



#Dictionary
#Unordered, changeable and indexed. Written with { } and have key value pairs 

a_dict = {'names': ['maria jose', 'fernanda', 'luke', 'alvaro', 'Justus', 
                    'Fernando', 'Rodrigo', 'Carmen', 'Juan', 'Fabian',
                    'Oskar', 'Augusto', 'Jorge', 'Fabian'],
          'shirts' : ['white', 'beige', 'green','brown', 'blue', 'white',
                      'blue', 'stripes', 'blue', 'beige', 'black', 'grey',
                      'purple', 'black']}

#Why does this not work?
var1 = 1 #This is an integer
var2 = 2 #This is another integer
var3 = "3" #This is a string

#With a coma, we conncatenate variables in the same print function. 
print(var1 + var2, var3)
print('My number is: ', var1)
#Here, we are not conncatenating, we are adding two INT variables
#and print the result



#But, because var3 is not an int, it is not compativle, hence we get an error.
print(var1 + var2 + var3)

<class 'int'>
hello world!!
They call me 'the best'
good bye world!
['maria jose', 'fernanda', 'luke', 'alvaro', 'Justus', 'Fernando', 'Rodrigo', 'Carmen', 'Juan', 'Fabian', 'Oskar', 'Augusto', 'Jorge', 'Fabian']
['three', 3]
[['maria jose', 'fernanda', 'luke', 'alvaro', 'Justus', 'Fernando', 'Rodrigo', 'Carmen', 'Juan', 'Fabian', 'Oskar', 'Augusto', 'Jorge', 'Fabian'], ['white', 'beige', 'green', 'brown', 'blue', 'white', 'blue', 'stripes', 'blue', 'beige', 'black', 'grey', 'purple', 'black']]
3 3
My number is:  1

3. Setting variables and indexing

In [ ]:
#Set a variable by naming the variable and using the assign operator
strg = "machine"

#You can update the value of the variable by using the same name of the variable
#and a new value 
strg = "machine_learning"

#Python starts counting from 0 (R starts counting from 1)
len(strg)
strg[1:6]

#Indexing with [start:stop] says start from position 1
# and end in the position before 3

'achin'

4. More indexing

In [ ]:
#You can index the string in multiple ways

#Using : inside square brakets, you are indexing between numbers
#[start:stop]

#H e r t i e
#0 1 2 3 4 5


#You can do reverse indexing using -1 in the stop

#H e r t i e _ S c h o  o  l 
#0 1 2 3 4 5 6 7 8 9 10 11 12


#You can even add the steps by calling [::] 
#[start:stop:step]
var = "Hertie School"
print(var[::-1])

loohcS eitreH

5. Boolean operators

In [ ]:
#We have two identical lists
list_1 = [20, 40, 60, 80]
list_2 = [20, 40, 60, 80]

#And we ask two questions. First, We want to know if the content in list_1
#is equal to the content in list_2.


#And we know it is, hence 'True'

#What other boolean operators do we have? 

print(50 > 40) #Greater than

print(60 < 78) #Less than

print(5 != 7) #Not equal to 

print(9 == 6) #Equal to

print(6 <= 5) #Less than or equal to 

print(8 >= 9) #Greater than or equal to 


#Back to the example
#However, even if the content is the same, they are two different variables,

list_3 = list_1
list_4 = list_3

True
True
True
False
False
False

True

6. Order of operations in Python 

  https://techvidvan.com/tutorials/python-operator-precedence/

In [ ]:
#Examples
x = 5 + 2
print(x)

y = (5+2) * 2
print(y)

z = (5 + 2) * 2**2
print(z)

7
14
28

6. Lists and how to modify them

In [ ]:
#Lists can be easlisy modified! 
#Some functions are append(), clear(), count() or remove()

#Let's take a look at this list:
name_list = ['Max', 'Sophie', 'Karl', 'Anne']

#name_list is a list with 4 strings of names.
len(name_list)

#Append is a function that will 'add' an element to a list, in the last position 
name_list.append('Mortiz')
print(name_list)

#We can also remove elements by index
name_list.pop()
print(name_list)

#and by value
name_list.remove('Max')
print(name_list)

#We could also order the list by alphabetical order using sort()
name_list = ['Max', 'Sophie', 'Karl', 'Anne', 'Mortiz']
name_list.sort(reverse = True)
print(name_list)

['Max', 'Sophie', 'Karl', 'Anne', 'Mortiz']
['Sophie', 'Karl', 'Anne', 'Mortiz']
['Sophie', 'Mortiz', 'Max', 'Karl', 'Anne']

7. Ranges and loops

In [ ]:
#What is a range?
#Range() is a function that returns a sequence of numbers 
#In the form of (start, stop, step) Remeber the last is excluded so up to 20 (19)

print(*range(1,30,2)) #the * is only there to unpack the output.

#What is a loop? 
#Easy! We are asking python to go over every single item inside a collection
#For example:
groceries = ['apples', 'tomatos', 'potatos', 'onions', 'carrots'] #a list with
                                                                  #grocery items
 
new_list = []

#To set up a loop, we call 'for an item in a list'. 

for i in groceries:
  lst = []
  n = i[0]
  lst.append(n)

print(lst)




#Loops are greate because they allow us to modify collections of items one by 
#one in a systematic and repetitive way, until all the items of the list have
# been passed.




#Let's go back to the question. 
#First, what range is this creating then? 
#print(*range(1,20,1))

#So what are we gonna get back when we print every item in this range?

['c']

9. More loops

In [ ]:
#We just saw how a simple for look works
#Let's take a look at a if else!

#In a simple for loop, we inspect every simple element of the collection
#and act equally on every item.

for i in range(1, 4):
      print(i)

#But what if we are looking for a particular type of item inside our collection of items?
#What if we only want items that are less than a certain value to be modified? 
#Or items that are greater than? Or items that are equal to?



#Knowing this, we can add extra instructions!
#If the item that we want meets the requirement (item == 2), then do something to the item
#But if it does not meet the requirement then execute an 'else'.

10. Functions

In [ ]:
#Finally, we can take a look at functions. In this ML class functions are
#our best friends!! 

#In Python, a function is a group of related statements that performs
# a specific task. Functions help break our program into smaller and modular
# chunks. As our program grows larger and larger, functions make it more 
# organized and manageable. Furthermore, it avoids repetition and makes 
# the code reusable.

#Because this is not a programming class, we will only talk about the most
#important parts. 

#First, although we can create our own functions for our own work, what makes 
#Python so amazing is the number of libraries available, all with built in 
#functions with very specific uses. This allows us to save time, and avoid having
#to program everything from scrath. 

#Scikit learn (ML library) is the most used and popular ML python library, and
#we will be implementing most of the models from them as functions. 

#This is what setting up a function looks like (6 lines)
def calculate (num1, num2):
  """
  this function multiplies two numbers
  """
  result = num1 * num2
  print(result)



#This is how it is implemented! (1 line)
calculate(5, 6)

#Each function takes a certain number of arguments it need to execute it self
#calculate(5) # "TypeError: calculate() missing 1 required positional argument: 'num2'"

#And can take any value as long as it is the correct data type specified in the function
#calculate('seven', 'two') # <-  "TypeError: can't multiply sequence by non-int of type 'str'"